

.orange{
    background-color: rgb(243, 215, 164);
    outline-style:dashed
}

.antiquewhite{
    background-color:rgb(212, 172, 121);
    outline-style:solid;
}


*{
    background-color:rgb(230, 224, 217);
    margin-left:10px;
    margin-right: 10px;
}

.border{
    border-style:solid;
    margin: 10px 10px 10px 10px;
    border-color: rgb(115, 69, 6);
    border-radius: 10px;
}

.double{
    margin:20px 0px 20px 0px;
    border-style: double;
}

.link{
    text-decoration:none ;
    font-size: 20px;
}
.link:hover{
    color:rgb(173, 173, 242);
}

.about{
    font-size: 20px;
    text-indent:30px;
    word-spacing:5px;
}